<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
  xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
  xmlns:bal='http://schemas.microsoft.com/wix/BalExtension'>
  <?define Version='5.1'?>
<!-- Windows installer considers 1.0.0.0 to be equal to 1.0.0.1 -->
  <Bundle Version='$(var.Version)' 
    UpgradeCode='b836aaf3-c2dd-4976-b28d-2836865657eb'
    IconSourceFile='../logo.ico' 
    AboutUrl='https://knossostool.org'
    Manufacturer='Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.'
    Copyright='Copyright © Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.. All rights reserved.'
    Name='KNOSSOS $(var.Version)'>
    <BootstrapperApplicationRef Id='WixStandardBootstrapperApplication.HyperlinkLargeLicense'>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl='https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt'
        LogoFile='../64x64.png'
        ShowVersion='yes'
        ThemeFile='HyperlinkTheme.xml'
        />
    </BootstrapperApplicationRef>
    <Variable Name='InstallFolder' Type='string' Value='[ProgramFiles64Folder]MPIN\KNOSSOS $(var.Version)'/>
    <Variable Name="LocalPythonCheckbox" Value="1"/>
    <Variable Name="LocalDesktopShortcutCheckbox" Value="1"/>

    <Chain>
      <PackageGroupRef Id='Python27' />
      <!-- Visible='no' so only the bundle appears in ARP and we uninstall the bundle and not only the .msi  -->
      <MsiPackage Id='MainExecutable' SourceFile='knossos.msi' Visible='no'>
        <MsiProperty Name='INSTALLDIR' Value='[InstallFolder]' />
        <MsiProperty Name='INSTALLSHORTCUT' Value='[LocalDesktopShortcutCheckbox]' />
      </MsiPackage>

    </Chain>
  </Bundle>

  <Fragment> 
    <!-- CHECK IF PYTHON IS INSTALLED -->
    <!-- search for relevant .dll -->
    <Property Id="PYTHONVERSION">
        <DirectorySearch Id="SystemFolderPythonVersion" Path="[SystemFolder]">
            <FileSearch Name="python27.dll" MinVersion="2.7.0"/>
        </DirectorySearch>
    </Property>
    <PackageGroup Id='Python27'> 
     <MsiPackage 
        Cache='no' 
        Permanent='yes' 
        Vital='yes'
        Visible='yes'
        ForcePerMachine='yes'
        DisplayInternalUI='no'
        Name='python-2.7.14.amd64.msi' 
        SourceFile='python-2.7.14.amd64.msi'
        EnableFeatureSelection='yes'
        InstallCondition='NOT PYTHONVERSION AND LocalPythonCheckbox = "1"' />
    </PackageGroup> 
  </Fragment> 
</Wix>
