<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <?define Version='5.0'?>
<!-- Windows installer considers 1.0.0.0 to be equal to 1.0.0.1 -->

<!-- Product ID should be Id='*' so it will be auto generated when creating a new installer
otherwise you would get an error message "already installed".
Upgrade Code should remain always the same! -->

  <Product Codepage='1252'
    Id='*' 
    Language='1033'
    Manufacturer='Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.'
    Name='KNOSSOS $(var.Version)'
    UpgradeCode='b836aaf3-c2dd-4976-b28d-2836865657eb'
    Version='$(var.Version)' >
    <Package Comments='comments'
      Compressed='yes'
      Description='KNOSSOS $(var.Version) Installer for Windows x64'
      Id='*'
      InstallerVersion='200'
      InstallScope='perMachine'
      Keywords='Installer'
      Languages='1033'
      Manufacturer='Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.'
      Platform='x64' />

    <!-- <Condition Message="A later version of [ProductName] is already installed.">NOT NEWERVERSIONDETECTED</Condition> -->
    <!-- <MajorUpgrade AllowSameVersionUpgrades='yes' DowngradeErrorMessage='A newer version of [ProductName] is already installed.' /> -->

    <Media Id='1' Cabinet='data.cab' EmbedCab='yes' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='mpi' Name='MPImF'>
          <Directory Id='INSTALLDIR' Name='KNOSSOS $(var.Version)'>
          </Directory>
        </Directory>
        <Directory Id='ProgramMenuFolder'>
          <Directory Id='ApplicationProgramsFolder' Name='KNOSSOS'/>
        </Directory>
      </Directory>
      <Directory Id='DesktopFolder' />
    </Directory>

    <DirectoryRef Id='ApplicationProgramsFolder'>
      <Component Id='AppShortcut' Win64='yes' Guid='08c32753-d431-4755-ab2f-807064fc4159'>
        <Condition>NOT DONTINSTALLSHORTCUT</Condition>
        <RegistryValue Root='HKCU' Key='Software\MPImF\KNOSSOS' Name='shortcut' Type='integer' Value='1' KeyPath='yes'/>
            <Shortcut Id='desktopKNOSSOS'
            Directory='DesktopFolder'
            Name='KNOSSOS'
            WorkingDirectory='INSTALLDIR'
            Icon='knossos64.exe'
            Target='[INSTALLDIR]knossos.exe'
            IconIndex='0'
            Advertise='no' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='INSTALLDIR'>
      <Component Id='MainExecutable' Win64='yes' Guid='b836aaf3-c2dd-4976-b28d-2836865657eb'>
        <File Id='knossos.exe' Name='knossos.exe' Source='knossos64.exe' KeyPath='yes'>
          <Shortcut Id='ApplicationStartMenuShortcut'
            Directory='ApplicationProgramsFolder'
            Name='KNOSSOS' 
            Description='tell me'
            WorkingDirectory='INSTALLDIR'
            Icon='knossos64.exe' 
            Advertise='yes' />
        </File>
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='AppShortcut' />
    </Feature>
    <Icon Id='knossos64.exe' SourceFile='../logo.ico' />
    <Property Id="ARPPRODUCTICON" Value="knossos64.exe" /> 
  </Product>
</Wix>
