version: '{build} {branch}'

image:
  - Visual Studio 2022 # Windows Server 2019
  - Visual Studio 2017 # Windows Server 2016
  - Visual Studio 2015 # Windows Server 2012 R2

environment:
  MESA_DIST_WIN_VER: 25.1.5
  QT_OPENGL_DLL: opengl32 # https://github.com/qt/qtbase/commit/6c85067ba51fae169b99538b2ba3a5dd30348227#diff-30d85ae3c18697e52d180edc79bb5eefcb74f970957dc73b3a766541088a5237

init:
  - appveyor version
  - cmd: ver
  - cmd: systeminfo | findstr /B /C:"OS Name" /C:"OS Version"
  - sh: type system_profiler && system_profiler SPSoftwareDataType SPHardwareDataType || true
  - sh: type lsb_release && lsb_release -a || true
  - sh: type uname && uname -a || true

for:
-
  matrix:
    only:
      - image: Visual Studio 2022
  environment:
    MSYSTEM: UCRT64
  build_script:
    - cmd: C:\msys64\usr\bin\bash -lc "pacman -Syuu --noconfirm"
    - cmd: C:\msys64\usr\bin\bash -lc "$(cygpath ${APPVEYOR_BUILD_FOLDER})/ci/build_windows.sh"
  artifacts:
    - path: '*nightly.*'
-
  matrix:
    only:
      - image: Visual Studio 2017
      - image: Visual Studio 2015
  build: off
  before_test:
    - curl --fail -JLO https://github.com/knossos-project/knossos/releases/download/nightly-dev/win.%APPVEYOR_REPO_BRANCH%-KNOSSOS.nightly.exe
  deploy: off

test_script:
  - cmd: curl --fail -JLO https://github.com/pal1000/mesa-dist-win/releases/download/%MESA_DIST_WIN_VER%/mesa3d-%MESA_DIST_WIN_VER%-release-msvc.7z
  - cmd: 7z e "-i!x64/*.dll" "-i!x64/*.json" "mesa3d-*-release-msvc.7z"
  - cmd: cp -v C:/Python3*-x64/python3*.dll . || true
  - cmd: win.%APPVEYOR_REPO_BRANCH%-KNOSSOS.nightly.exe exit || true
  # custom screen specification is required for 1604, because the default used to be only 8 bit
  - sh: time xvfb-run -e /dev/stdout --auto-servernum -s '-screen 0 1024x768x24' ./linux.$APPVEYOR_REPO_BRANCH-KNOSSOS.nightly.AppImage exit

deploy:
  - provider: GitHub
    tag: nightly
    auth_token:
      secure: t9BAyR+k93XD/dXN/gaOgApdGKOxb4lvDtpci8pHHxghvSxd/wNGdFFe/N9WqZSr
    artifact: /.*\.KNOSSOS\..*/
    prerelease: true
    force_update: true
    on:
      branch: master
  - provider: GitHub
    tag: nightly-dev
    auth_token:
      secure: t9BAyR+k93XD/dXN/gaOgApdGKOxb4lvDtpci8pHHxghvSxd/wNGdFFe/N9WqZSr
    artifact: /.*-KNOSSOS\..*/
    prerelease: true
    force_update: true
