language: shell
os: linux
dist: focal

git:
  depth: false # tags for `git describe` may be farther away than the default depth

jobs:
  include:
    - stage: compile
      os: osx
      osx_image: xcode12.2
      env: 
        - TRAVIS_TAG=nightly-dev
        - MACOSX_DEPLOYMENT_TARGET=10.13
      install:
        - brew update && brew upgrade
        - brew remove qt6 || true
        - travis_wait sh ci/build_macos_PythonQt.sh
      script:
        - sh ci/build_macos.sh
      addons:
        homebrew:
          packages:
            - boost
            - ninja
            - python
            - qt5
            - quazip
            - snappy
    - os: osx
      osx_image: xcode12.2
      if: branch == master
      env: 
        - TRAVIS_TAG=nightly
        - MACOSX_DEPLOYMENT_TARGET=10.13
      install:
        - brew update && brew upgrade
        - brew remove qt6 || true
        - travis_wait sh ci/build_macos_PythonQt.sh
      script:
        - sh ci/build_macos.sh
      addons:
        homebrew:
          packages:
            - boost
            - ninja
            - python
            - qt5
            - quazip
            - snappy
    - os: linux
      name: Arch Linux nightly-dev
      env: 
        - TRAVIS_TAG=nightly-dev
      install:
        - docker pull knossostool/knossos
      script:
        - docker run -it --privileged --cap-add=ALL -v /lib/modules:/lib/modules -v /dev:/dev -v ${PWD}:/root/knossos -e TRAVIS_BRANCH -e TRAVIS_TAG knossostool/knossos bash -c '/root/knossos/ci/build_linux.sh'
    - os: linux
      name: Arch Linux nightly
      if: branch == master
      env: 
        - TRAVIS_TAG=nightly
      install:
        - docker pull knossostool/knossos
      script:
        - docker run -it --privileged --cap-add=ALL -v /lib/modules:/lib/modules -v /dev:/dev -v ${PWD}:/root/knossos -e TRAVIS_BRANCH -e TRAVIS_TAG knossostool/knossos bash -c '/root/knossos/ci/build_linux.sh'

deploy:
  - provider: releases
    edge: true
    token:
      secure: "DHBayH59cTgSeuzw0umwjc52r5p1sR3EV1vOG77cK1NIb7fi2UVmx69V2mIzfGYp0t1uFDsVvDGtFYRQxKozCteBu2oinmbiSjbeWnyldQqTFnF4QONF+eWGiHNdOdHY7Tj37+eV5BlgfsXZ5MfLN3tXZ2y++D+yfoUItsbvC3I="
    file_glob: true
    file:
      - "linux.KNOSSOS.nightly.AppImage"
      - "macos.KNOSSOS.nightly.app.zip"
    overwrite: true
    on:
      repo: knossos-project/knossos
      branch: master
      condition: $TRAVIS_TAG = nightly
  - provider: releases
    edge: true
    token:
      secure: "DHBayH59cTgSeuzw0umwjc52r5p1sR3EV1vOG77cK1NIb7fi2UVmx69V2mIzfGYp0t1uFDsVvDGtFYRQxKozCteBu2oinmbiSjbeWnyldQqTFnF4QONF+eWGiHNdOdHY7Tj37+eV5BlgfsXZ5MfLN3tXZ2y++D+yfoUItsbvC3I="
    file_glob: true
    file:
      - "linux.*-KNOSSOS.nightly.AppImage"
      - "macos.*-KNOSSOS.nightly.app.zip"
    overwrite: true
    on:
      repo: knossos-project/knossos
      all_branches: true
      condition: $TRAVIS_TAG = nightly-dev
