
QTabBar::tab:selected { 
    background: black; 
    border-radius:4px; 
    color:white; 
    min-width:8ex; 
    padding:2px; 

} 


QPushButton {
    background-color: black;
    color:white;
    border-style: outset;
    border-width: 2px;
    border-radius: 4px;
    border-color: black;
    min-width: 8em;
    padding: 4px;

}
QPushButton:pressed {
    background-color: rgb(0, 0, 222);
    border-style: inset;
}


