Package: knossos
Version: 4.1.2
Section: misc
Priority: extra
Architecture: amd64
Installed-Size: 
Maintainer: Norbert Pfeiler <norbert.pfeiler@googlemail.com>
Description: 3D image visualisation and annotation tool
Homepage: https://knossostool.org
