<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>KNOSSOS</string>
	<key>CFBundleExecutable</key>
	<string>knossos</string>
	<key>CFBundleIconFile</key>
	<string>knossos.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.mpin.KNOSSOS</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>KNOSSOS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.1</string>
	<key>CFBundleVersion</key>
	<string>5.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2018, KNOSSOS</string>
</dict>
</plist>
