.sh {
	border-radius: 4px;
	border: 1px solid #eeeeec;
	padding: .5em 1em;
	font-size: 12px;
	font-family: monospace;
	overflow-x: hidden;
}

td {
	vertical-align: middle;
	overflow-x: hidden;
	padding: .5em;
	border-color: #cccccc;
}

tr:first-of-type {
	border-top: 2px solid #ccc;
}

tr:nth-of-type(2n) {
	background-color: #ccc;
}

thead th {
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

html {
	line-height: 1;
	background: #dddddd;
	font-family: sans-serif;
	font-size: 14px;
}
